body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  /*采用内减模式*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*取出移动点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  color: #333;
  font-family: 'Microsoft Yahei', 'Courier New', Courier, monospace;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: #333;
}
input {
  border: none;
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
body {
  background-color: #e1e1e1;
}
.jd-sprite {
  background: url('../images/jd-sprites.png') no-repeat;
  background-size: 200px 200px;
}
